
@{
    ViewBag.Title = "Add";
}

<h2>Add a Teacher here</h2>
<style>
    .addform div { 
        padding-bottom: 1em;
    }
</style>
<form class="addform" action="/Teacher/Create" method="POST">
    <div>
        <label for="TeacherFname">Teacher First Name </label> <input  required type="text" id="TeacherFname" name="TeacherFname" placeholder="ex: Brian" /><br>
    </div>
    <div>
        <label for="TeacherLname">Teacher Last Name </label> <input  required type="text" id="TeacherLname" name="TeacherLname" placeholder="ex: Smith" /><br>
    </div>
    <div>
        <label for="EmployeeNumber">Teacher Employee Number </label> <input required type="text" id="EmployeeNumber"  name="EmployeeNumber" placeholder="ex T12345" /><br>
    </div>
    <div>
        <label for="HireDate">Teacher Hire Date </label> <input required type="date"  id="HireDate" name="HireDate" placeholder="2020-01-01" /><br>
    </div>
    <div>
        <label for="Salary">Teacher Salary </label> <input required type="text" id="Salary" name="Salary" placeholder="100" /><br>
    </div>
    <div>
        <input type="submit" value="Create Teacher"/>
    </div>

</form>