@model Assignment3.Models.Teacher

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    </nav>
    <h2>Are you sure you want to delete @Model.TeacherFname  @Model.TeacherLname</h2>
    <p>This action cannot be undone</p>
    <form method="POST" action="/Teacher/Delete/@Model.TeacherId">
        
        <button style=" background: red; border-radius: 5px; color: white; padding: 1em; font-size: 2em;" class="delbutton" href="">
        Confirm Delete
        </button>
    </form>
</div>
