<div class="jumbotron">
    <h1>Welcome to HTTP 5101 Jr High </h1>
    <p class="lead"> Please select "Teacher List" or "Student List" to explore</p>
  
</div>
<div class="row">
    <div class="col-md-6">
        <h2><a>LIST OF TEACHERS</a></h2>
        
        <p><a class="btn btn-default" href="/Teacher/List">Explore Teachers &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2><a>LIST OF STUDENTS</a></h2>
        
        <p><a class="btn btn-default" href="/Student/StudentList">Explore Students &raquo;</a></p>
    </div>
    <br>
    <br>


        <p>At this time we apolgize for the bland styling of this database. Updated styling to be added at later date</p>
         <br>
    </div>
