@model Assignment3.Models.Student
@{
    ViewBag.Title = "ShowStudent";
}

<h2>Student # @Model.StudentId</h2>

<strong>Student First name:</strong> @Model.StudentFname
<br> <strong>Student Last name:</strong> @Model.StudentLname
<br> <strong>Employee Number</strong> @Model.StudentNumber
<br><a class="returnbtn" href="/Student/StudentList">Return to Student List</a>